main {
	max-width:820px;
	margin:0 auto;
}
header {
    background-color: #efb84d;
    border-radius: 4px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: #efb84d;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
header,
nav,
main,
footer {
	max-width: 100%;
    margin: 0 auto;
    font-family: 'Secular One', sans-serif;
    
}
nav button {
    margin-left: .2rem;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}
nav {
    background-color: #4f8a8b;
    text-align: center;
    box-shadow: 0 2px 15px gray;
    border-radius: 4px;
}
nav a:hover {
    color: #000;
}
nav button:hover {
    color: #000;
}
nav ul li a {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.75rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul.hide {display: none;}
body {
 font-family: 'Secular One', sans-serif;
 background-color: #eeee;
}
button {
    margin: auto;
    margin-right: 40px;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
}
header button {
    display: block;
}
picture img[data-src]{
    filter: blur(0.1em);
    }
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
    max-width: 300px;
    margin: 0 auto;
    height: 300px;
}
.weather:hover {box-shadow: 0 0 50px #333;}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    justify-items: center;
}
figcaption {visibility: hidden;}
