.portal-header {
    padding: 15px;
    text-align: left; 
    background-color: #1970d4;
    color: white;
    font-size: 30px;
    font-family: 'Josefin Sans';
    border-radius: 10px 10px;
    }
    .portal-heading {
      margin-left: 100px;
    }
    .portal-footer {
      text-align: center;
      padding: 3px;
      font-size: 15px;
      font-family: 'Josefin Sans';
      background-color: #1970d4;
      color: white;
      border-radius: 10px 10px;
    }
    .footer-update-info {
      margin-top: -25px;
    }
    img {
      height: 250px;
      border-radius: 0px 10px 0px 0px;
      box-shadow: 2px 2px 2px 2px rgb(36, 36, 36);
      float: right;
      margin-top: -140px;
    }
    .content {
      font-family: 'Josefin Sans';
    }