@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

header {
    background-color: #efb84d;
    border-radius: 4px;
    align-items: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: #efb84d;
    border-radius: 4px;
    align-items: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
header,
nav,
main,
footer {
	max-width: 100%;
	margin: 0 auto;
}
nav button {
    margin-left: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}
nav {
    background-color: #4f8a8b;
    text-align: center;
    box-shadow: 0 2px 15px gray;
    border-radius: 4px;
}
nav a:hover {
    color: #000;
}
nav button:hover {
    color: #000;
}
nav ul li a {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.75rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul.hide {display: none;}
body {
 font-family: 'Secular One', sans-serif;
 background-color: #eeee;
}
.color-scheme-img {
    max-width: 100%;
}
button {
    margin: auto;
    margin-right: 40px;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
}
header button {
    display: block;
}
.forecast {
    display: flex;
    flex-flow: row;
}
section {
    border:  3px black solid;
    margin: 15px;
}
.days {
    padding: 1rem;
}
h2, h3 {
    padding: 1rem;
}