body {
    font-family: 'Josefin Slab', sans-serif;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
picture img {
    height: 400px;
    width: 300px;
    filter: blur(0px);
    transition: 0.5s;
}