body {
    font-family: 'Josefin Slab', sans-serif;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
picture img {
    filter: blur(0.1em);
    transition: filter 0.5s;
    max-width: 300px;
    margin: 0 auto;
    height: 300px;
}
.ceilings:hover {box-shadow: 0 0 50px #333;}