@media only screen and (min-width: 32.5em){
    nav ul {
        display: flex;
    }
    nav ul li {
        padding: 0.75em;
        margin: auto;
    }
    header button {
        display: none;
    }
    nav ul.hide {display: flex;}
    .summary {
        position: absolute;
        top: 400px;
        left: 50px;
        background: radial-gradient(#eee, #578ecf);
        border: 1px solid #000;
        padding: 1.5rem;
        box-shadow: 0 0 30px #111;
        opacity: .8;
    }
}
