@media only screen and (min-width: 60em){
    nav ul {
        display: flex;
    }
    nav ul li {
        padding: 0.75em;
        margin: auto;
    }
    header button {
        display: none;
    }
    nav ul.hide {display: flex;}
    .idaho-img {
        width: 300px;
        float: right;
        margin: 10px;
    }
}
