@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #000;
  color: #eee;
}

/* Navigation Menu */
.menu-icon {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    height: 5px;
    width: 35px;
    background-color: white;
    margin: 6px;
    transition: 0.4s;
    border-radius: 3px;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: black
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: black
  }
  
  .navLinks {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: #5CFFF7;
    transition: 0.5s;
    font-family: 'Bebas Neue';
  }
  
  .change .navLinks {
    height: 100%;
    width: 25%;
    z-index: -1;
    padding-top: 50px;
    opacity: 100%;
  }
  
  .change .navLinks li {
    text-decoration: none;
    list-style: none;
    display: block;
    padding: 15px;
    transition: 0.5s;
    color: black;
    font-size: 30px;
  }
  
  .change .navLinks li:hover {
      color: grey;
      font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    .change .navLinks {
      width: 70%;
    }
  }

/* Home Content */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #5CFFF7;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}