@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Script&family=Pacifico&family=Sacramento&family=Ultra&display=swap');
body {
	background-size: cover;
	background-position: center;
	color: white;
}
main {
    display: grid;
}
html {
	height: 100%;
}
.navbar-brand {
	font-family: 'Bebas Neue', san-serif;;
}
li {
	font-family: 'Pacifico', san-serif;
}
.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1533760881669-80db4d7b4c15?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1649&q=80);
	text-align: center;
	padding: 10%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 13px rgba(0,0,0,0.1);
}
.slogan {
	text-shadow: 0px 4px 3px rgb(240, 120, 156),
				 0px 8px 13px rgb(240, 192,73),
				 0px 18px 13px rgba(0,0,0,0.1);
}
.btn {
	font-family: 'Bebas Neue', sans-serif;
	color: #f0789c;
}
h1 {
	font-weight: 700;
	font-size: 5em;
	font-family: 'Bebas Neue', sans-serif;
}
hr {
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
h2 {
	font-family: 'League Script', sans-serif;	
}
footer {
    bottom: 0;
    width: 100%;
    line-height: 40px;
    background-color: #f5f5f5;
    display: inline-flex;
    justify-content: space-evenly;
    color: rgba(0, 0, 0, 0.589);
    font-family: 'Bebas Neue', sans-serif;
}
li {
    list-style: none;
    text-decoration: none;
}
.contact-info {
    background-color: #f8f8f8;

}
.icon {
    max-width: 3rem;
    padding: .5rem;
}
p.locations {
    font-family: 'Bebas Neue', sans-serif;
}
.map {
    padding-top: 20px;
}
.services-container {
    background-color: lightskyblue;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgb(240, 120, 156),
    0px 8px 13px rgb(240, 192,73),
    0px 18px 13px rgba(0,0,0,0.1);
}
.service-h2 {
    text-align: center;
    background-color: lightskyblue;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgb(240, 120, 156),
    0px 8px 13px rgb(240, 192,73),
    0px 18px 13px rgba(0,0,0,0.1);
}
th, td {
    padding: 10px;
    font-family: 'Bebas Neue', sans-serif;
}
.table-header {
    font-size: 60px;
}
.form-container {
    padding-top: 30px;
    padding-bottom: 20px;
}
.form-control {
    display: block;
    width: 75%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid lightskyblue;
    border-radius: .25rem;
    font-family: 'Bebas Neue', sans-serif;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
form {
    padding: 1.5rem;
    padding-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
    border: solid .2rem #e3e3e3;
    border-radius: 5px;
}
.form-group {
    padding: 5px;
}
label {
    color: #f0789c;
}
.btn-primary {
    background-color: #e3e3e3;
    border-color: #e3e3e3;
    color: #f0789c;
}
button {
    font-family: 'Bebas Neue', sans-serif;
}
form label {
    font-family: 'Bebas Neue', sans-serif;
}
@media only screen and (max-width: 600px) {
    footer {padding: 20px; display: flex; flex-direction: column;}
    table {width: 100%;}
  }
@media only screen and (max-width: 900px) {
    .contact-info {padding: 20px;}
}