@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Script&family=Pacifico&family=Sacramento&family=Ultra&display=swap');
body {
	background-size: cover;
	background-position: center;
	color: white;
}
main {
    display: grid;
}
html {
	height: 100%;
}
.navbar-brand {
	font-family: 'Bebas Neue', san-serif;;
}
li {
	font-family: 'Pacifico', san-serif;
}
.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1584208320070-54631de3a8c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80');
    text-align: center;
	padding: 10%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 13px rgba(0,0,0,0.1);
}
.slogan {
	text-shadow: 0px 4px 3px rgb(240, 120, 156),
				 0px 8px 13px rgb(240, 192,73),
				 0px 18px 13px rgba(0,0,0,0.1);
}
.btn {
	font-family: 'Bebas Neue', sans-serif;
	color: #f0789c;
}
h1 {
	font-weight: 700;
	font-size: 5em;
	font-family: 'Bebas Neue', sans-serif;
}
hr {
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
h2 {
	font-family: 'League Script', sans-serif;	
}
main {
	padding-top: 15px;
	padding-bottom: 15px;
}
	.image1 {
	background-image: url(https://images.unsplash.com/photo-1578522198945-69dd327b3cf9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80);
	}

	.image2 {
  	background-image: url(https://images.unsplash.com/photo-1578116779503-81714be40e9c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
	}
	.image3 {
	background-image: url(https://images.unsplash.com/photo-1602586693805-88092a3c9ada?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1568&q=80);
	}
	.image4 {
	background-image: url(https://images.unsplash.com/photo-1451159289881-10709108b343?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);	
	}
	.image5 {
	background-image: url(https://images.unsplash.com/photo-1585547859236-4eb870cb3453?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
    }
    .image6 {
	background-image: url(https://images.unsplash.com/photo-1585324526467-cd7de921027a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=696&q=80);
    }
	.image {
 	width: 100%;
 	height: 250px;
  	background-size: cover;
	background-position: center;
    }
    .figure-caption{
        color: #f0789c;
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
        padding: 10px;
	}
	footer {
		bottom: 0;
		width: 100%;
		line-height: 40px;
		background-color: #f5f5f5;
		display: inline-flex;
		justify-content: space-evenly;
		color: rgba(0, 0, 0, 0.589);
		font-family: 'Bebas Neue', sans-serif;
	}
	li {
		list-style: none;
		text-decoration: none;
	}
	.contact-info {
		background-color: #f8f8f8;
	
	}
	.icon {
		max-width: 3rem;
		padding: .5rem;
	}
	p.locations {
		font-family: 'Bebas Neue', sans-serif;
	}
	.thumbnail {
		align-items: center;
		box-shadow: 0px 3px 3px rgb(240, 120, 156),
		0px 8px 13px rgb(240, 192,73),
		0px 18px 13px rgba(0,0,0,0.1);
	}
	  .map {
		padding-top: 20px;
	  }
	  @media only screen and (max-width: 600px) {
		footer {padding: 20px; display: flex; flex-direction: column;}
		table {width: 100%;}
	  }
	@media only screen and (max-width: 900px) {
		.contact-info {padding: 20px;}
	}