@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #000;
  color: #eee;
}

/* Navigation Menu */
.navbar-style {
  background: #00c9ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00c9ff, #92fe9d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #5CFFF7, #04b8d8); 
  font-family: 'Bebas Neue', sans-serif;
}

.navbar-nav, .navbar a {
  font-size: 2rem;
}

/* Home Content */
.main-content-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/portfolio/assets/nenad-novakovic-mHX5e1gFQVo-unsplash.jpg)
}

.main-content-container p {
  font-size: 6rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  color: black;
  font-family: 'Bebas Neue', sans-serif;
}

.main-content-container p span.typing-effect {
  font-weight: normal;
  color: #5CFFF7;
}

.main-content-container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.main-content-container p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}